<div class="container">
  <div class="row">
    
    <div class="col-12 col-md-10 col-lg-11 mx-auto mt-5">

      <div class="text-md-start">
        <h1 class="fw-bold" [style.color]="'#ff4081'">Listar Categorias</h1>
        <hr />
      </div>

      <div class="d-grid d-md-flex gap-1 mt-5">        
        <a class="button" mat-fab extended color="accent" [routerLink]="['/categorias/inserir']">
          <mat-icon> add </mat-icon>Nova Categoria</a>
      </div>

      <div class="row mt-3 g-2">
        <div class="col-12 col-md-6 col-lg-3"
          *ngFor="let categoria of categorias">
          <app-card-categoria [categoria]="categoria"></app-card-categoria>
        </div>
      </div>
    </div>
  </div>
</div>
