<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-semibold" routerLink="/">E-Agenda
      <i class="bi bi-clipboard2-check-fill ms-2" [style.color]="'#ff4081'"></i>
    </a>
    <button (click)="estaColapsada = !estaColapsada"
      class="navbar-toggler"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="estaColapsada == true">

      <div *ngIf="(usuarioEstaLogado$ | async) == true"
            class="links w-100 text-center">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="fw-semibold"
               routerLink="/contatos/listar"
               [style.color]="'#ff4081'">Contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="fw-bold"
               routerLink="/compromissos/listar"
               [style.color]="'#ff4081'">Compromissos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="fw-semibold"
               routerLink="/categorias/listar"
               [style.color]="'#ff4081'">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="fw-semibold"
               routerLink="/despesas/listar"
               [style.color]="'#ff4081'">Despesas</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="fw-semibold"
               routerLink="/tarefas/listar"
               [style.color]="'#ff4081'">Tarefas</a>
          </li>

          <li class="nav-item ms-auto">
            <button (click)="sair()" class="button btn btn-light px-4 rounded-pill" [style.background-color]="'#ff4081'" [style.color]="'#ffffff'">
              <i class="bi bi-door-open me-2"></i>Sair
            </button>
          </li>
        </ul>

      </div>
      
    </div>
  </div>
</nav>
