<div class="container">
  <div class="row my-4">
    
    <div class="col-12 col-md-11 mx-auto">
      
      <div class="text-md-start">
        <h1 class="fw-bold" [style.color]="'#ff4081'">Listar Tarefas</h1>
        <hr />
      </div>

      <div class="d-grid d-md-flex gap-1 mt-5">
            
        <a class="button" mat-fab extended color="accent" [routerLink]="['/tarefas/inserir']">
          <mat-icon> add </mat-icon>Nova Tarefa</a>
          
      </div>

      <div class="row mt-3 g-3 justify-items-sm-center">
        <div *ngFor="let tarefa of tarefas" class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 border-dark">
            <div class="card-body d-flex flex-column gap-1">

              <div class="d-flex flex-column">

                <h2 class="card-title mb-1" [style.color]="'#ff4081'"> {{ tarefa.titulo }} </h2>
                <span class="card-text text-muted">{{ tarefa.dataCriacao | date }}</span>

              </div>

              <span class="card-text text-muted fw-semibold" >Prioridade: {{ tarefa.prioridade }} </span>
              <span class="card-text fw-semibold">{{ tarefa.situacao }}</span>

            </div>

            <div class="d-flex gap-1 justify-content-end card-footer bg-transparent" >
              <button
                mat-mini-fab
                class="button"
                routerLink="/tarefas/editar/{{ tarefa.id }}"
                aria-label="Editar"
                ngbTooltip="Editar"
                placement="bottom" >
                <mat-icon> edit </mat-icon>                
              </button>
              <button
                mat-mini-fab
                class="button"
                routerLink="/tarefas/excluir/{{ tarefa.id }}"
                aria-label="Excluir"
                ngbTooltip="Excluir"
                placement="bottom" >
                <mat-icon> delete </mat-icon> 
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
